[submodule "vendor/mohiva-common"]
	path = vendor/mohiva-common
	url = git://github.com/mohiva/common.git

[submodule "vendor/mohiva-manitou"]
	path = vendor/mohiva-manitou
	url = git://github.com/mohiva/manitou.git

[submodule "vendor/mohiva-pyramid"]
	path = vendor/mohiva-pyramid
	url = git://github.com/mohiva/pyramid.git
